<nav class="navbar justify-content-between  " style="background-color: darkslategrey">

  <a   class="navbar-brand" href="/">  <img class="img-fluid" src="../../../../assets/img/logo_light.png" height= "auto" width="300px" >  </a>
  <div class="form-inline" >
    <div  class="btn-group dropleft mr-3">
      <button class="btn btn-success dropdown-toggle    " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{'language'| translate}}
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button  class="dropdown-item" (click)="switchLanguage('en')">english</button>
        <button  class="dropdown-item" (click)="switchLanguage('rus')">русский</button>
      </div>
    </div>
  </div>
  <!-- <button *ngIf="!_auth.loggedIn()"   class="btn btn-outline-success  float-right " type="submit"  data-toggle="modal" data-target="#exampleModalCenter"  >{{'button' | translate}}</button>-->



</nav>
<div class="container ">
  <div style="margin-top: 100px">
    <div class="recover-title">
  <h2 align="center">{{'recovering_password' | translate}}</h2>
    </div>
    <div  class="no-worries-text"></div>
    <span > {{'description_recovery' | translate}}  </span>
<form>
  <br>
  <div class="form-group ">
    <label for="exampleInputEmail1"> {{'mail' | translate}}</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [placeholder]="input_mail">
    <small id="emailHelp" class="form-text text-muted">{{'alram' | translate}}</small>
  </div>
  <button type="submit" class="btn btn-primary">{{'submit_button' | translate}}</button>
  <a class="float-right"       routerLink="" >{{'to_main' | translate}}</a>
</form>
  </div>
</div>
