.recover-title{

  height: 27px;
  text-align: center;
  color: #209BD6;
  text-shadow: #ccc 0px 0px 0px;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.no-worries-text {
  height: 32px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 15px;
  text-shadow: #ccc 0px 0px 0px;
  color: #595959;
  font-size: 13px;
  font-weight: normal;
  margin-top: 8px;
}
