
input, p-inputMask {
  border: none; outline: none;
  border-bottom: 1px solid gray;
  width: 100%;

}
.word_wrap{

  word-wrap: break-word;
}
.file-field.big .file-path-wrapper {
  height: 3.2rem; }
.file-field.big .file-path-wrapper .file-path {
  height: 3rem; }
.substrate{
  background-color: whitesmoke; border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 1.5em;
  text-align: justify;
}

.substrate P{
  text-indent: 1.5em;
  text-align: justify;
}
.substrate:first-letter{
  font-size: 200%
}

.substrate_more{
  background-color: whitesmoke; border-radius: 5px;

  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
  text-indent: 1.5em;
  text-align: justify;
}

.substrate_more P{
  text-indent: 1.5em;
  text-align: justify;
}
.substrate_more:first-letter{
  font-size: 200%
}
